@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/htw4amb.css");

$font-bebas: 'Bebas Neue', 'cursive';
$font-articulat: "articulat-cf", sans-serif;

$font-body: $font-bebas;

$font-families: (
    "bebas": "Bebas Neue",
    "articulat": "articulat-cf",
);

@each $name,
$font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}

$font-weights: 300, 400, 500, 600, 700, 800, 900;

@each $fw in $font-weights {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}